APP_NAME="AES Project Tracker"

MAIL_ENABLED=true
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM=
MAIL_FROM_NAME="AES Project Tracker"
MAIL_ENCRYPTION=tls
MAIL_AUTH=true
